# Copy and past those environement variables in a .env file at the root of the project and fill them accordingly.
SEED_TEST_FUNDS= # The Ternoa account seed you will use to sign transactions.
IPFS_API_KEY= # An IPFS KEY generated with the Ternoa IPFS Key manager: https://ipfs-key-manager-git-dev-ternoa.vercel.app/